.signup-form {
  background-color: #efefef;
  width: 50%;
}

.signup-form form {
  padding: 10px 10px
}

.signup-form input[type=text] {
  border: none;
  background-color: inherit;
}

.signup-form input[type=text]:focus {
  outline: none;
}